In [1]:
# Import
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(style="ticks")
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Read dataset
df = pd.read_csv("coffee-quality-database-master/data/arabica_data_cleaned.csv")

In [6]:
# Look at first entries
df.head()

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,2,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,3,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,4,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,5,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

In [7]:
# Look at descriptions
print(df.info())
print("\n", df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1311 entries, 0 to 1310
Data columns (total 44 columns):
Unnamed: 0               1311 non-null int64
Species                  1311 non-null object
Owner                    1304 non-null object
Country.of.Origin        1310 non-null object
Farm.Name                955 non-null object
Lot.Number               270 non-null object
Mill                     1001 non-null object
ICO.Number               1165 non-null object
Company                  1102 non-null object
Altitude                 1088 non-null object
Region                   1254 non-null object
Producer                 1081 non-null object
Number.of.Bags           1311 non-null int64
Bag.Weight               1311 non-null object
In.Country.Partner       1311 non-null object
Harvest.Year             1264 non-null object
Grading.Date             1311 non-null object
Owner.1                  1304 non-null object
Variety                  1110 non-null object
Processing.Method        1159 non-null object
Aroma                    1311 non-null float64
Flavor                   1311 non-null float64
Aftertaste               1311 non-null float64
Acidity                  1311 non-null float64
Body                     1311 non-null float64
Balance                  1311 non-null float64
Uniformity               1311 non-null float64
Clean.Cup                1311 non-null float64
Sweetness                1311 non-null float64
Cupper.Points            1311 non-null float64
Total.Cup.Points         1311 non-null float64
Moisture                 1311 non-null float64
Category.One.Defects     1311 non-null int64
Quakers                  1310 non-null float64
Color                    1095 non-null object
Category.Two.Defects     1311 non-null int64
Expiration               1311 non-null object
Certification.Body       1311 non-null object
Certification.Address    1311 non-null object
Certification.Contact    1311 non-null object
unit_of_measurement      1311 non-null object
altitude_low_meters      1084 non-null float64
altitude_high_meters     1084 non-null float64
altitude_mean_meters     1084 non-null float64
dtypes: float64(16), int64(4), object(24)
memory usage: 450.7+ KB
None

         Unnamed: 0  Number.of.Bags        Aroma       Flavor   Aftertaste  \
count  1311.000000     1311.000000  1311.000000  1311.000000  1311.000000
mean    656.000763      153.887872     7.563806     7.518070     7.397696
std     378.598733      129.733734     0.378666     0.399979     0.405119
min       1.000000        0.000000     0.000000     0.000000     0.000000
25%     328.500000       14.500000     7.420000     7.330000     7.250000
50%     656.000000      175.000000     7.580000     7.580000     7.420000
75%     983.500000      275.000000     7.750000     7.750000     7.580000
max    1312.000000     1062.000000     8.750000     8.830000     8.670000

           Acidity         Body      Balance   Uniformity   Clean.Cup  \
count  1311.000000  1311.000000  1311.000000  1311.000000  1311.00000
mean      7.533112     7.517727     7.517506     9.833394     9.83312
std       0.381599     0.359213     0.406316     0.559343     0.77135
min       0.000000     0.000000     0.000000     0.000000     0.00000
25%       7.330000     7.330000     7.330000    10.000000    10.00000
50%       7.500000     7.500000     7.500000    10.000000    10.00000
75%       7.750000     7.670000     7.750000    10.000000    10.00000
max       8.750000     8.580000     8.750000    10.000000    10.00000

         Sweetness  Cupper.Points  Total.Cup.Points     Moisture  \
count  1311.000000    1311.000000       1311.000000  1311.000000
mean      9.903272       7.497864         82.115927     0.088863
std       0.530832       0.474610          3.515761     0.047957
min       0.000000       0.000000          0.000000     0.000000
25%      10.000000       7.250000         81.170000     0.090000
50%      10.000000       7.500000         82.500000     0.110000
75%      10.000000       7.750000         83.670000     0.120000
max      10.000000      10.000000         90.580000     0.280000

       Category.One.Defects      Quakers  Category.Two.Defects  \
count           1311.000000  1310.000000           1311.000000
mean               0.426392     0.177099              3.591915
std                1.832415     0.840583              5.350371
min                0.000000     0.000000              0.000000
25%                0.000000     0.000000              0.000000
50%                0.000000     0.000000              2.000000
75%                0.000000     0.000000              4.000000
max               31.000000    11.000000             55.000000

       altitude_low_meters  altitude_high_meters  altitude_mean_meters
count          1084.000000           1084.000000           1084.000000
mean           1759.548954           1808.843803           1784.196379
std            8767.847252           8767.187498           8767.016913
min               1.000000              1.000000              1.000000
25%            1100.000000           1100.000000           1100.000000
50%            1310.640000           1350.000000           1310.640000
75%            1600.000000           1650.000000           1600.000000
max          190164.000000         190164.000000         190164.000000